In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
marvel = pd.read_csv('charcters_stats.csv')

In [4]:
marvel.head()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [5]:
marvel.shape

(611, 9)

In [7]:
marvel['Alignment'].value_counts()

good       432
bad        165
neutral     11
Name: Alignment, dtype: int64